html {
font-family: monospace;
height: 100%;
}

body {
height: 100%;
background: linear-gradient(to top, #2e94b9, #f0fbff);
background-repeat: no-repeat;
background-attachment: fixed;
}

h1 {
 margin: auto;
 text-align: center;
 width: 95%;
 font-size: 35px;
 font-weight: bold;
 background-color: #acdcee;
 color: #FFFFFF;
}

h2 {
 margin: auto;
 text-align: center;
 width: 95%;
 font-size: 25px;
 font-weight: bold;
 background-color: #acdcee;
 color: #FFFFFF;
}

.heading {
text-align: center;
font-size: 30px;
font-weight: bold;
color: #FFFFFF;
}

.kochcurve {
margin: auto;
width: 95%;
background-color: #8dd1f1;
border-radius: 20px;
overflow: auto;
}

.text {
padding: 5px;
text-align: left;
font-size: 20px;
color: #FFFFFF;
}

.textlist {
list-style-type: "\2605";
font-size: 25px;
color: #20a4ef;
}

#img {
margin: auto;
padding: 10px;
}

