html {
background-color: #fca7dd;
color: white;
}

h1 {
font-size: 35px;
font-family: "Times";
font-family: "serif";
border: 5px dotted white;
text-align: center;
}

p {
font-size: 25px;
font-family: "monospace";
font-weight: bold;
} 

ul {
font-size: 15px:
font-style: italic;
list-style-type: square;
}

img {
width: 400px;
height: 340px;
}
