html {
background-color: #fca7dd;
}

h1 {
font-size: 35px;
font-family: "Times";
font-family: "serif";
color: white;
border: 5px dotted white;
text-align: center;
}

p {
font-size: 25px;
font-family: "monospace";
font-weight: bold;
color: #fff9d4
} 

ul {
font-size: 20px;
list-style-type: square;
color: white;
}

a {
color: #719feb;
}

img {
width: 400px;
height: 340px;
}
