html {
background-color: black;
font-family:;
 }

body {
}

h1,
h2{
margin: auto;
text-align: center;
width: 95%;
background-color: #f6c049;
color: #a16526;
}

h2 {
font-style: italic;
}

.navigator {
margin: auto;
text-align: center;
width: 85%;
background-color: #f6c049;
}

li {
display: inline;
}

a {
color: #a16526;
}

#indeximg {
width: 95%;}

.center {
display: block;
margin: auto;}


